<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
</head>

<body>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Profile</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-block">
                    <center class="m-t-30"><img src="/dashboard/assets/images/users/5.jpg" class="img-circle"
                                                width="150"/>
                        <h4 class="card-title m-t-10" th:inline="text">[[${name}]]</h4>
                        <h6 class="card-subtitle">Agency Admin</h6>
                        <div class="row text-center justify-content-md-center">
                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i>
                                <font class="font-medium">254</font></a></div>
                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i>
                                <font class="font-medium">54</font></a></div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-7">
            <div class="card">
                <div class="card-block">
                    <form action="#" method="POST" class="form-horizontal form-material" th:action="@{/profile}" th:object="${profileForm}">
                        <div class="form-group">
                            <label for="firstName" class="col-md-12">First Name</label>
                            <div class="col-md-12">
                                <input type="text" th:field="*{firstName}" class="form-control form-control-line" name="firstName" id="firstName">
                            </div>
                            <small class="text-danger-padded" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-md-12">Last Name</label>
                            <div class="col-md-12">
                                <input type="text" th:field="*{lastName}" class="form-control form-control-line" name="lastName" id="lastName">
                            </div>
                            <small class="text-danger-padded" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                        </div>
                        <div class="form-group">
                            <label for="mobileNumber" class="col-md-12">Phone No</label>
                            <div class="col-md-12">
                                <input type="text" th:field="*{mobileNumber}" class="form-control form-control-line" name="mobileNumber" id="mobileNumber">
                            </div>
                            <small class="text-danger-padded" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}"></small>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success">Update Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-block">
                    <form action="#" method="POST" class="form-horizontal form-material" th:action="@{/password}" th:object="${passwordForm}">
                        <div class="form-group">
                            <label class="col-md-12">Email</label>
                            <div class="col-md-12">
                                <input type="text" th:field="*{email}"
                                       class="form-control form-control-line" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-12">Password</label>
                            <div class="col-md-12">
                                <input type="password" th:field="*{password}"
                                       class="form-control form-control-line" name="password" id="password">
                            </div>
                            <small class="text-danger-padded" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
</body>

</html>
